@model IEnumerable<Day15_EFCore.Entities.HangHoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @item.Loai.TenLoai
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
